# LED1 L13
# LED2 M13
# LED3 K14
# LED4 K13

set_property PACKAGE_PIN L13 [get_ports led1]
set_property IOSTANDARD LVCMOS33 [get_ports led1]

set_property PACKAGE_PIN M13 [get_ports led2]
set_property IOSTANDARD LVCMOS33 [get_ports led2]

set_property PACKAGE_PIN K14 [get_ports led3]
set_property IOSTANDARD LVCMOS33 [get_ports led3]

set_property PACKAGE_PIN K13 [get_ports led4]
set_property IOSTANDARD LVCMOS33 [get_ports led4]
